.jumbotron {
	background: url("background.png") center center no-repeat fixed whitesmoke;
	font-family: Serif, Monospace;
	width: auto;
	opacity: 0.9;
}

h1, h4 {
	color: white;
	font-weight: bold;
}

.jumbotron.jumbotron-fluid.text-center {
	background-color: whitesmoke;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
	background-position: 50% 50%;
	background-size: 100%;

	
}
div.jumbotron.jumbotron-fluid.text-center {
	padding-top: -120px;
	padding-bottom: 400px;
	margin-top:100px;

	
}